### String

In [1]:
#1. take name as input and say hello


name = input(" ")
print("Hello {} !".format(name))

 Priya
Hello Priya !

In [2]:
# 2. from below string print count of "Is".
string = "he is Amol and she is Chaitali"
x =  string.count("is")
print(x)

2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"
split_string = string.split(" ")
print(split_string)

['Data', 'is', 'new', 'oil']

In [4]:
# 4.now from below list, join all words by "=" and create a sentence
list = ["Data", "is", "new", "oil"]
my_string = "=".join(list)
print(my_string)

Data=is=new=oil

In [5]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
new_sentence = sentence.replace("Java","Python")
print(new_sentence)

I love programming in Python.

In [6]:
# 6.from below string remove(strip) additional spaces and print it
message = "  This is a message with spaces.  "
strip_message= message.strip()
print(strip_message)

This is a message with spaces.

In [7]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
my_text = len(text)
print(my_text)

14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"
reverse_string = string[::-1]
print(reverse_string)

elppaeniP

In [10]:
#10.Given the string "Welcome to Python Programming.",how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
my_text = text.title()
print(my_text)

Welcome To Python Programming.

In [11]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [12]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
my_text = text.title()
print(my_text)

I Am Learning Python

In [13]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [14]:
#14. print the addition of below 2 strings
a = 20
b = 30
c= a+b
print(c)

50

In [15]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c = a+b
print(c)

2030

## List

In [16]:
# 16. From below list replace 4 with 44
my_list = [1,2,3,4,5]
my_list[3]=44
print(my_list)

[1, 2, 3, 44, 5]

In [17]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [18]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [19]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [20]:
# 20. from below list remove number 3
my_list =[1,2,3,4,5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [21]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list1=my_list.count("cherry")
print(my_list1)

2

In [22]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list1 = my_list.index("banana")
print(my_list1)

4

In [23]:
#23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [24]:
# 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [25]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

### Assignment on List

In [26]:
# 26.Create a list named myList that has three elements:
# - The integer 3
# - The string 'element number two'
# - Another list ['last','element']
#in that order.

myList = [3, 'element number two', ['last', 'element']]

In [27]:
# 27.Print the third element of the following list.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l[2]

3

In [28]:
# 28. modify the last elemnt of this list so that its value is 16. Print the modified list so you know the operation was performed successfully
listToModify = ['a', 'b', 'sixteen']
listToModify[-1] = 16
print(listToModify)

['a', 'b', 16]

In [29]:
# 29.Calculate the length of the following list.
listToFindLength = ['this', 'is','the', 'list', 'whose', 'length', 'I', 'want']
len(listToFindLength)

8

In [30]:
# 30.Calculate the sum of the following list.
intList = [54, 678, 2890]
sum(intList)

3622

In [31]:
# 31.Find the maximum value of the following list
maxList = [677, 53245, 234, 236, 23456, 345, 23526, 3454]
max(maxList)

53245

In [32]:
# 32.Find the minimum value of the following list.
minList = [351, 984, 1697, 284, 134, 467, 164]
min(minList)

134

In [33]:
# 33.Append the string 'append me!' to the end of the following list. Print the list to ensure the operation has been completed successfully
listToAppend = [1, 2, 3]
listToAppend.append('append me!')
print(listToAppend)

[1, 2, 3, 'append me!']

## For Loop

In [34]:
#34. Print the first 10 natural numbers using for loop.
# between 0 to 10
# there are 11 numbers
# therefore, we set the value
# of n to 11

numbers = 11
for i in range(1,numbers):
        print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
# 35.Python program to print all the even numbers within the given range.

given_range = 10
for i in range(given_range):
    if i%2==0:
# if above condition is true
                print(i)

0
2
4
6
8

In [36]:
# 36.Python program to calculate the sum of all numbers from 1 to a given number.

given_number = 10
sum = 0
for i in range(1,given_number+1):
        sum=sum+i
#print the total sum at the end
print(sum)

55

In [37]:
# another method to understand
def sum_of_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

# Input a number from the user
n = int(input("Enter a number: "))

result = sum_of_numbers(n)

print(f"The sum of all numbers from 1 to {n} is: {result}")

Enter a number: 10
The sum of all numbers from 1 to 10 is: 55

In [38]:
#37. Python program to calculate the sum of all the odd numbers within the given range.

given_range = 10
 
# set up a variable to store the sum
# with initial value of 0
sum = 0
 
for i in range(given_range):
        # if i is odd, add it
        # to the sum variable
        if i%2!=0:
                sum+=i
print(sum)

25

In [39]:
#38.Python program to print a multiplication table of a given number
# if the given range is 10
given_number = 5
 
for i in range(11):
        print (given_number," x",i," =",5*i)

5  x 0  = 0
5  x 1  = 5
5  x 2  = 10
5  x 3  = 15
5  x 4  = 20
5  x 5  = 25
5  x 6  = 30
5  x 7  = 35
5  x 8  = 40
5  x 9  = 45
5  x 10  = 50

In [40]:
# 39.Python program to display numbers from a list using a for loop.

list = [1,2,4,6,88,125]
for i in list:
    print(i)

1
2
4
6
88
125

In [41]:
#40. Python program to count the total number of digits in a number.

given_number = 129475
# since we cannot iterate over an integer
# in python, we need to convert the
# integer into string first using the
# str() function
given_number = str(given_number)
 
# declare a variable to store
# the count of digits in the
# given number with value 0
count=0
 
for i in given_number:
        count += 1
print(count)

6

In [42]:
#41. Python program to check if the given string is a palindrome.

given_string = "madam"
 
# an empty string variable to store
# the given string in reverse
reverse_string = ""
 
# iterate through the given string
# and append each element of the given string
# to the reverse_string variable
for i in given_string:
    reverse_string = i + reverse_string  
 
# if given_string matches the reverse_srting exactly
# the given string is a palindrome
if(given_string == reverse_string):
   print("The string", given_string,"is a Palindrome.")
 
# else the given string is not a palindrome   
else:
   print("The string",given_string,"is NOT a Palindrome.")

The string madam is a Palindrome.

In [43]:
#42.Python program that accepts a word from the user and reverses it.


string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
print(reverse_string)

Enter the string: Priya
ayirP

In [44]:
#43.Python program to check if a given number is an Armstrong number


given_number = 153
given_number = str(given_number)
 
string_length = len(given_number)
sum = 0
 
for i in given_number:
    sum += int(i)**string_length
if sum == int(given_number):
    print("The given number",given_number,"is an Amstrong number.")
else:
    print("The given number",given_number,"is Not an Amstrong number.")

The given number 153 is an Amstrong number.

In [45]:
#another method :

number = int(input("Enter the number: "))
number = str(number)
sum =0
for i in number:
    sum += int(i)**len(number)
if sum==int(number):

    print("The given number {} is an Amstrong number".format(number))
else:
    print("The given number {} is not an Amstrong number".format(number))

Enter the number: 153
The given number 153 is an Amstrong number

In [46]:
#44.Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]
for i in num_list:
    if i%2==0:
        print(i,"is an even number.")
    # if remainder is not zero
    # then it's an odd number
    else:
        print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [47]:
#45.Python program to display all numbers within a range except the prime numbers.


import math
def is_not_prime(n):

#flag to track if no. is prime or not initially assume all numbers are non prime
    flag = False
 
# iterate in the given range using for loop starting from 2 as 0 & 1 are neither prime nor composite
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            flag = True
    return flag
 
# lower bound of the range
range_starts = 10
 
# upper bound of the range
range_ends = 30
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

Non-prime numbers between 10 and 30 are:
10
12
14
15
16
18
20
21
22
24
25
26
27
28

In [48]:
#46. Python program to get the Fibonacci series between 0 to 50.

# given upper bound
num = 50
first_value, second_value = 0, 1
for n in range(0, num):
    if n <= 1:
        next_value = n
    else:
        next_value = first_value + second_value
        first_value = second_value
        second_value = next_value
    if next_value > num:
        break
    print(next_value)

0
1
1
2
3
5
8
13
21
34

In [49]:
#47.Python program to find the factorial of a given number.

given_number= 5
 #since 1 is a factor of all number set the factorial to 1
factorial = 1
 
for i in range(1, given_number + 1):
    factorial = factorial * i
print("The factorial of ", given_number, " is ", factorial)

The factorial of  5  is  120

In [50]:
#48.Python program that accepts a string and calculates the number of digits and letters.

user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print("The string has {} letters and {} digits".format(letters,digits))

Enter the string: Priya1234
The string has 5 letters and 4 digits

## Dictionary

In [2]:
#49. 1. Given the following dictionary, print all the keys.

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
#Print all the keys
for key in my_dict.keys():
    print(key)

name
age
city
occupation

In [5]:
#50.Print all values of dictionary 

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}
# Print all the values
for value in my_dict.values():
    print(value)

Alice
25
New York
Engineer

In [7]:
#51.Print all values except "New York"

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print all values except the one with the key_to_exclude
for value in my_dict.values():
    if value!= "New York":
        print(value)

Alice
25
Engineer

In [8]:
#52.Delete key "age" from below dict

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Delete the "age" key from the dictionary
if "age" in my_dict:
    del my_dict["age"]

print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

In [9]:
#53.Print value of "occupation" from below dictionary.

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

# Print the value associated with the key "occupation"
print(my_dict["occupation"])

Engineer

## Function

In [1]:
#54.Write a python function for addition of 2 number

def add_numbers(num1, num2):
    sum = num1 + num2
    return sum

result = add_numbers(5, 4)
print('Sum: ', result)

Sum:  9

In [2]:
#55.Write function to add all numbers of list and print

def sum(*numbers):
    total = 0
    for x in numbers:
        total += x
    return total

Total = sum(8, 2, 3, 0, 7)
print(Total)

20

In [3]:
#56.Write a fucntion to check if number is even or odd and print it.

def even_odd(num):
  if num%2==0:
    print("{} Is Even Number".format(num))
  else:
    print("{} Is Odd Number".format(num))

even_odd(27)

27 Is Odd Number

In [4]:
#57.Take any no of inputs in functions and print them.

def print_args(*args):
    for arg in args:
        print(arg)
    return 11

a = print_args(1, 2, 3, "hello")
print(a)

1
2
3
hello
11

In [5]:
#58.Write a python function which will take N number of inputs and print addition of all numbers

def add_number(*numbers):
  sum=0
  for num in numbers:
    sum = sum + num
  return sum

addition = add_number(1,2,3,6)
print(addition)

12

In [8]:
#59.Write python function which will take N number of string as inputs and will return list of Upper case string

def upper_string(*words):
  upper_list=[]
  for word in words:
    upper_list.append(word.upper())
  return upper_list

upper_words= upper_string("ketan","shyam","AMOL","Chirag")
print(upper_words)

['KETAN', 'SHYAM', 'AMOL', 'CHIRAG']

In [9]:
#60. write a python function which takes multiple keyword arguments.

def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print("{},{}".format(key,value))

print_kwargs(name="Alice", age=30, city="New York")

name,Alice
age,30
city,New York

In [10]:
#61. write a python function which takes keyword agruments and find maximum value among all

def find_max(**kwargs):
    return max(kwargs.values())

result = find_max(a=10, b=5, c=15)
print(result)

15