### String

In [1]:
#1. take name as input and say hello

name = input(" ")
print("Hello {} !".format(name))

 Priya
Hello Priya !

In [2]:
# 2. from below string print count of "Is".
string = "he is Amol and she is Chaitali"
x =  string.count("is")
print(x)

2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"
split_string = string.split(" ")
print(split_string)

['Data', 'is', 'new', 'oil']

In [4]:
# 4.now from below list, join all words by "=" and create a sentence
list = ["Data", "is", "new", "oil"]
my_string = "=".join(list)
print(my_string)

Data=is=new=oil

In [6]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
new_sentence = sentence.replace("Java","Python")
print(new_sentence)

I love programming in Python.

In [7]:
# 6.from below string remove(strip) additional spaces and print it
message = "  This is a message with spaces.  "
strip_message= message.strip()
print(strip_message)

This is a message with spaces.

In [8]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
position = sentence.index("sample")
print(position)

10

In [9]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
my_text = len(text)
print(my_text)

14

In [10]:
#9. Print below string in reverse order
string = "Pineapple"
reverse_string = string[::-1]
print(reverse_string)

elppaeniP

In [12]:
#10.Given the string "Welcome to Python Programming.",how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
my_text = text.title()
print(my_text)

Welcome To Python Programming.

In [13]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [14]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
my_text = text.title()
print(my_text)

I Am Learning Python

In [15]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [16]:
#14. print the addition of below 2 strings
a = 20
b = 30
c= a+b
print(c)

50

In [17]:
#15. print the additiono of below 2 strings
a = "20"
b = "30"
c = a+b
print(c)

2030

## List

In [1]:
# 16. From below list replace 4 with 44
my_list = [1,2,3,4,5]
my_list[3]=44
print(my_list)

[1, 2, 3, 44, 5]

In [2]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [3]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [6]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [14]:
# 20. from below list remove number 3
my_list =[1,2,3,4,5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [20]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list1=my_list.count("cherry")
print(my_list1)

2

In [23]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list1 = my_list.index("banana")
print(my_list1)

4

In [24]:
#23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [26]:
# 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [27]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

### Assignment

In [2]:
# 26.Create a list named myList that has three elements:
# - The integer 3
# - The string 'element number two'
# - Another list ['last','element']
#in that order.

myList = [3, 'element number two', ['last', 'element']]

In [3]:
# 27.Print the third element of the following list.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l[2]

3

In [4]:
# 28. modify the last elemnt of this list so that its value is 16. Print the modified list so you know the operation was performed successfully
listToModify = ['a', 'b', 'sixteen']
listToModify[-1] = 16
print(listToModify)

['a', 'b', 16]

In [5]:
# 29.Calculate the length of the following list.
listToFindLength = ['this', 'is','the', 'list', 'whose', 'length', 'I', 'want']
len(listToFindLength)

8

In [6]:
# 30.Calculate the sum of the following list.
intList = [54, 678, 2890]
sum(intList)

3622

In [7]:
# 31.Find the maximum value of the following list
maxList = [677, 53245, 234, 236, 23456, 345, 23526, 3454]
max(maxList)

53245

In [8]:
# 32.Find the minimum value of the following list.
minList = [351, 984, 1697, 284, 134, 467, 164]
min(minList)

134

In [10]:
# 33.Append the string 'append me!' to the end of the following list. Print the list to ensure the operation has been completed successfully
listToAppend = [1, 2, 3]
listToAppend.append('append me!')
print(listToAppend)

[1, 2, 3, 'append me!']